# Common
**/.vscode
**/.git*
**/.editorconfig
**/*.md
**/*.env*
**/*.sql*
**/*.pem
**/*.key
**/*.pub
**/*.crt
**/*.cer
**/*.cert
**/*.dockerfile
**/Dockerfile

# Server
**/systemd

# Backend
**/keys
**/tmp
**/.golangci.yml
**/.air*.toml
**/*_test.go

# Frontend
**/node_modules
**/dist
**/.prettierrc.json
**/.eslintrc.cjs
**/.tool-versions

# Exceptions
!backend/.env
!.git/refs/
!.git/objects/
!.git/HEAD
!.git/packed-refs
!backend/internal/keys/signing-private.json
!backend/internal/keys/signing-public.json
!backend/internal/keys/encryption-private.json
!backend/internal/keys/encryption-public.json
!backend/internal/keys/dkim.key
!backend/internal/keys/dkim.pub
!backend/internal/templates/**/*.md
!frontend/.env
!frontend/keys/encryption-private.json
!frontend/keys/signing-public.json
!docker/nginx/dhparam.pem
